/* === MAIN.CSS | ONE FILE TO RULE THEM ALL === */


/* Nav Login Form */
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;

}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{

    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{

        color: #fff;
    }
    #login-dp .bottom{

        border-top:0 none;
    }
}


/*Clear space in Jumbotron*/

.td-jumbotron {
    margin-top:-20px;
}

.td-aero-nav-logo {
    height:40px;
    margin-top:5px;
    max-width: 100%;
}

/*
Home page
*/
#td-home-header-vid {

    min-height:350px;
    margin-top:-20px;
    padding:60px;
}
body{
    height: 100% !important;

}

#top_search_bar {

    background:#222;
    border: 0px solid;
    color:#fff;
margin-left:10px;
font-weight:600;
}

#top_user_avatar {
    border-radius:5px;
    max-width:32px;
    margin-right:5px;
}


