/**
   * typography
   * --------------------------------------------------
   */

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #434A54;
  background-color: #F5F7FA;
}

a {
  color: #656D78;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #F4D03F;
  text-decoration: none;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", Sans-serif;
  line-height: 1.1;
  color: #4d4d4d;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  color: #666666;
}

h1,
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

h4,
h5,
h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h6 {
  font-weight: normal;
}

h1,
.h1 {
  font-size: 51px;
}

h2,
.h2 {
  font-size: 43px;
}

h3,
.h3 {
  font-size: 30px;
}

h4,
.h4 {
  font-size: 19px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 14px;
}

blockquote {
  border-left: 3px solid #CCD1D9;
}

.img-rounded {
  border-radius: 4px;
}

.img-comment {
  font-size: 15px;
  line-height: 1.2;
  font-style: italic;
  margin: 24px 0;
}

/**
   * button
   * --------------------------------------------------
   */

.btn {
  color: #434A54;
}

.btn,
.btn.disabled,
.btn[disabled] {
  border-color: #AAB2BD;
  background-color: #AAB2BD;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  color: #FFF;
  border-color: #CCD1D9;
  background-color: #CCD1D9;
  outline: none !important;
}

.btn:active,
.btn.active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled] {
  opacity: 0.45;
  filter: alpha(opacity=45);
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.btn-link.disabled,
.btn-link[disabled] {
  border-color: transparent;
  background-color: transparent;
  color: #F4D03F;
  box-shadow: none;
}

.btn-link:hover,
.btn-link:focus {
  text-decoration: underline;
}

.btn-default {
  color: #434A54;
  border-color: #AAB2BD !important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  border-color: #CCD1D9;
  background-color: #CCD1D9;
}

.btn-default,
.btn-default.disabled,
.btn-default[disabled] {
  background-color: #FFF;
}

.open .dropdown-toggle.btn-default {
  border-color: #CCD1D9;
  background-color: #CCD1D9;
}

.btn-primary,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  border-color: #F4D03F;
  background-color: #F4D03F;
}

.btn-primary:hover,
.btn-primary:focus {
  border-color: #dab10c !important;
  background-color: #dab10c !important;
}

.open .dropdown-toggle.btn-primary {
  border-color: #dab10c;
  background-color: #dab10c;
}

.btn-info,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  border-color: #37BC9B;
  background-color: #37BC9B;
}

.btn-info:hover,
.btn-info:focus {
  border-color: #48CFAD;
  background-color: #48CFAD;
}

.open .dropdown-toggle.btn-info {
  border-color: #48CFAD;
  background-color: #48CFAD;
}

.btn-success,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  border-color: #8CC152;
  background-color: #8CC152;
}

.btn-success:hover,
.btn-success:focus {
  border-color: #A0D468;
  background-color: #A0D468;
}

.open .dropdown-toggle.btn-success {
  border-color: #A0D468;
  background-color: #A0D468;
}

.btn-warning,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  border-color: #F6BB42;
  background-color: #F6BB42;
}

.btn-warning:hover,
.btn-warning:focus {
  border-color: #FFCE54;
  background-color: #FFCE54;
}

.open .dropdown-toggle.btn-warning {
  border-color: #FFCE54;
  background-color: #FFCE54;
}

.btn-danger,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled],
.btn-danger .open .dropdown-toggle.btn {
  border-color: #DA4453;
  background-color: #DA4453;
}

.btn-danger:hover,
.btn-danger:focus {
  border-color: #ED5565;
  background-color: #ED5565;
}

.open .dropdown-toggle.btn-danger {
  border-color: #ED5565;
  background-color: #ED5565;
}

/**
   * button-group
   * --------------------------------------------------
   */

.btn-group.open .dropdown-toggle {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
}

.btn-group .btn {
  border-left-color: #96a0ad;
}

.btn-group.open .btn-default.dropdown-toggle,
.btn-group .btn-default:focus,
.btn-group .btn-default:active,
.btn-group .btn-default.active {
  color: #FFF;
}

.btn-group .btn-primary,
.btn-group .btn-primary:focus,
.btn-group .btn-primary:active,
.btn-group .btn-primary.active {
  border-left-color: #f2c81d;
}

.btn-group .btn-success,
.btn-group .btn-success:focus,
.btn-group .btn-success:active,
.btn-group .btn-success.active {
  border-left-color: #7ab03f;
}

.btn-group .btn-warning,
.btn-group .btn-warning:focus,
.btn-group .btn-warning:active,
.btn-group .btn-warning.active {
  border-left-color: #efa50b;
}

.btn-group .btn-danger,
.btn-group .btn-danger:focus,
.btn-group .btn-danger:active,
.btn-group .btn-danger.active {
  border-left-color: #d1293a;
}

.btn-group .btn-info,
.btn-group .btn-info:focus,
.btn-group .btn-info:active,
.btn-group .btn-info.active {
  border-left-color: #2fa084;
}

.btn-group .btn:first-child,
.btn-group .btn-primary:first-child,
.btn-group .btn-success:first-child,
.btn-group .btn-warning:first-child,
.btn-group .btn-danger:first-child,
.btn-group .btn-info:first-child {
  border-left-color: transparent;
}

.btn-group-vertical .btn,
.btn-group-vertical .btn-group .btn-primary {
  border-top-color: #96a0ad !important;
}

.btn-group-vertical .btn-primary,
.btn-group-vertical .btn-primary:focus,
.btn-group-vertical .btn-primary:active,
.btn-group-vertical .btn-primary.active,
.btn-group-vertical .btn-group .btn-primary {
  border-top-color: #f2c81d !important;
}

.btn-group-vertical .btn-success,
.btn-group-vertical .btn-success:focus,
.btn-group-vertical .btn-success:active,
.btn-group-vertical .btn-success.active,
.btn-group-vertical .btn-group .btn-success {
  border-top-color: #7ab03f !important;
}

.btn-group-vertical .btn-warning,
.btn-group-vertical .btn-warning:focus,
.btn-group-vertical .btn-warning:active,
.btn-group-vertical .btn-warning.active,
.btn-group-vertical .btn-group .btn-warning {
  border-top-color: #efa50b !important;
}

.btn-group-vertical .btn-danger,
.btn-group-vertical .btn-danger:focus,
.btn-group-vertical .btn-danger:active,
.btn-group-vertical .btn-danger.active,
.btn-group-vertical .btn-group .btn-danger {
  border-top-color: #d1293a !important;
}

.btn-group-vertical .btn-info,
.btn-group-vertical .btn-info:focus,
.btn-group-vertical .btn-info:active,
.btn-group-vertical .btn-info.active,
.btn-group-vertical .btn-group .btn-info {
  border-top-color: #2fa084 !important;
}

.btn-group-vertical .btn:not(.btn-default):first-child,
.btn-group-vertical .btn-primary:first-child,
.btn-group-vertical .btn-success:first-child,
.btn-group-vertical .btn-warning:first-child,
.btn-group-vertical .btn-danger:first-child,
.btn-group-vertical .btn-info:first-child {
  border-top: none;
}

/**
   * labels and badges
   * --------------------------------------------------
   */

.label,
.badge {
  background-color: #AAB2BD;
}

.label-default,
.badge-default {
  border: 1px solid #AAB2BD;
  background-color: #FFF;
  color: #434A54;
}

.label-primary,
.badge-primary {
  border-color: #3BAFDA;
  background-color: #3BAFDA;
}

.label-success,
.badge-success {
  border-color: #F4D03F;
  background-color: #F4D03F;
  color: #434A54;
}

.label-danger,
.badge-danger {
  border-color: #DA4453;
  background-color: #DA4453;
}

.label-warning,
.badge-warning {
  border-color: #F6BB42;
  background-color: #F6BB42;
}

.label-info,
.badge-info {
  border-color: #37BC9B;
  background-color: #37BC9B;
}

/**
   * tooltip
   * --------------------------------------------------
   */

.tooltip-inner {
  color: #FFF;
  background-color: #434A54;
}

.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
  border-top-color: #434A54;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #434A54;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #434A54;
}

.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #434A54;
}

/**
   * popover
   * --------------------------------------------------
   */

.popover {
  background-color: #434A54;
  color: #FFF;
  border-color: #434A54;
}

.popover-title {
  padding-bottom: 0;
  font-weight: bold;
  color: #AAB2BD;
  background-color: transparent;
  border-bottom: none;
}

.popover.top .arrow,
.popover.top .arrow:after {
  border-top-color: #434A54;
}

.popover.right .arrow,
.popover.right .arrow:after {
  border-right-color: #434A54;
}

.popover.bottom .arrow,
.popover.bottom .arrow:after {
  border-bottom-color: #434A54;
}

.popover.left .arrow,
.popover.left .arrow:after {
  border-left-color: #434A54;
}

/**
   * progress
   * --------------------------------------------------
   */

.progress {
  background-color: #E6E9ED;
  box-shadow: none;
}

.progress-bar {
  background-color: #3BAFDA;
  box-shadow: none;
}

.progress-bar-success {
  background-color: #8CC152;
}

.progress-bar-info {
  background-color: #37BC9B;
}

.progress-bar-warning {
  background-color: #F6BB42;
}

.progress-bar-danger {
  background-color: #DA4453;
}

/**
   * breadcrumb
   * --------------------------------------------------
   */

.breadcrumb {
  color: #434A54;
  background-color: #E6E9ED;
}

.breadcrumb > .active {
  color: #434A54;
}

.breadcrumb a {
  color: #3BAFDA;
}

.breadcrumb-arrow {
  padding: 0;
  list-style: none;
  background-color: #E6E9ED;
  height: 36px;
  line-height: 36px;
}

.breadcrumb-arrow li:first-child a {
  border-radius: 4px 0 0 4px;
}

.breadcrumb-arrow li,
.breadcrumb-arrow li a,
.breadcrumb-arrow li span {
  display: inline-block;
  vertical-align: top;
}

.breadcrumb-arrow li:not(:first-child) {
  margin-left: -5px;
}

.breadcrumb-arrow li + li:before {
  padding: 0;
  content: "";
}

.breadcrumb-arrow li span {
  padding: 0 10px;
}

.breadcrumb-arrow li a,
.breadcrumb-arrow li:not(:first-child) span {
  padding: 0 10px 0 25px;
  height: 36px;
  line-height: 36px;
}

.breadcrumb-arrow li:first-child a {
  padding: 0 10px;
}

.breadcrumb-arrow li a {
  position: relative;
  border: 1px solid #3BAFDA;
  color: #FFF;
  background-color: #3BAFDA;
  text-decoration: none;
}

.breadcrumb-arrow li:first-child a {
  padding-left: 10px;
}

.breadcrumb-arrow li a:before,
.breadcrumb-arrow li a:after {
  position: absolute;
  top: -1px;
  content: '';
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

.breadcrumb-arrow li a:before {
  right: -10px;
  border-left-width: 11px;
  border-left-style: solid;
  border-left-color: #3BAFDA;
  z-index: 3;
}

.breadcrumb-arrow li a:after {
  right: -11px;
  border-left: 11px solid #2494be;
  z-index: 2;
}

.breadcrumb-arrow li a:hover,
.breadcrumb-arrow li a:focus {
  background-color: #4FC1E9;
  border: 1px solid #4FC1E9;
}

.breadcrumb-arrow li a:hover:before,
.breadcrumb-arrow li a:focus:before {
  border-left-color: #4FC1E9;
}

.breadcrumb-arrow li a:active {
  background-color: #2494be;
  border: 1px solid #2494be;
}

.breadcrumb-arrow li a:active:before,
.breadcrumb-arrow li a:active:after {
  border-left-color: #2494be;
}

.breadcrumb-arrow li span {
  color: #434A54;
}

/**
   * pagination
   * --------------------------------------------------
   */

.pagination > li > a,
.pagination > li > span {
  color: #434A54;
  background-color: #FFF;
  border-color: #CCD1D9;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #FFF;
  background-color: #CCD1D9;
  border-color: #CCD1D9;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #FFF;
  background-color: #8CC152;
  border-color: #8CC152;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #E6E9ED;
  background-color: #FFF;
  border-color: #CCD1D9;
}

/**
   * pager
   * --------------------------------------------------
   */

.pager li > a,
.pager li > span {
  color: #FFF;
  background-color: #8CC152;
  border-color: #8CC152;
}

.pager li > a:hover,
.pager li > a:focus {
  background-color: #A0D468;
  border-color: #A0D468;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #E6E9ED;
  background-color: #FFF;
  border-color: #E6E9ED;
}

/**
   * form
   * --------------------------------------------------
   */

.form-control {
  color: #434A54;
  border-color: #AAB2BD;
}

.form-control,
.form-control:focus {
  box-shadow: none;
}

.form-control:focus {
  border-color: #434A54;
}

.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #E6E9ED;
}

.form-control.disabled,
.form-control[disabled] {
  border-color: #E6E9ED;
  background-color: #E6E9ED;
}

.input-group-btn .btn + .btn {
  border-width: 1px;
  border-style: solid;
  border-color: #96a0ad;
}

.input-group-btn .btn + .btn.btn-default {
  border-color: #ededed;
}

.input-group-btn .btn + .btn.btn-primary {
  border-color: #333940;
}

.input-group-btn .btn + .btn.btn-info {
  border-color: #2fa084;
}

.input-group-btn .btn + .btn.btn-success {
  border-color: #7ab03f;
}

.input-group-btn .btn + .btn.btn-warning {
  border-color: #f4af20;
}

.input-group-btn .btn + .btn.btn-danger {
  border-color: #d1293a;
}

.input-group-addon {
  background-color: #AAB2BD;
  border-color: #96a0ad;
  color: #FFF;
}

.input-group-addon .radio,
.input-group-addon .checkbox {
  margin: -3px 0 -4px !important;
}

.form-search .search-query,
.form-search .search-query:first-child,
.form-search .search-query:last-child {
  padding: 0 17px;
  border-radius: 17px;
}

.input-group .form-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group .form-control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-search .btn {
  border-radius: 17px;
}

.search-only {
  position: relative;
}

.search-only .search-icon {
  position: absolute;
  top: 2px;
  left: 8.5px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 17px;
  color: #E6E9ED;
  z-index: 20;
}

.search-only .form-control:last-child {
  padding-left: 40px;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #8CC152;
}

.has-success .form-control {
  border-color: #8CC152;
  box-shadow: none;
}

.has-success .form-control:focus {
  border-color: #8CC152;
  box-shadow: none;
}

.has-success .input-group-addon {
  background-color: #8CC152;
  border-color: #8CC152;
}

.has-success .form-control-feedback {
  color: #8CC152;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #F6BB42;
}

.has-warning .form-control {
  border-color: #F6BB42;
  box-shadow: none;
}

.has-warning .form-control:focus {
  border-color: #F6BB42;
  box-shadow: none;
}

.has-warning .input-group-addon {
  background-color: #F6BB42;
  border-color: #F6BB42;
}

.has-warning .form-control-feedback {
  color: #F6BB42;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #DA4453;
}

.has-error .form-control {
  border-color: #DA4453;
  box-shadow: none;
}

.has-error .form-control:focus {
  border-color: #DA4453;
  box-shadow: none;
}

.has-error .input-group-addon {
  background-color: #DA4453;
  border-color: #DA4453;
}

.has-error .form-control-feedback {
  color: #DA4453;
}

/**
   * stepper
   * --------------------------------------------------
   */

.stepper .stepper-input {
  overflow: hidden;
  -moz-appearance: textfield;
}

.stepper .stepper-input::-webkit-inner-spin-button,
.stepper .stepper-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stepper .stepper-arrow {
  background-color: #3BAFDA;
  cursor: pointer;
  display: block;
  height: 50%;
  position: absolute;
  right: 15px;
  text-indent: -99999px;
  width: 20px;
}

.stepper .stepper-arrow:hover,
.stepper .stepper-arrow:active {
  background-color: #4FC1E9;
}

.stepper .up {
  border-top-right-radius: 3px;
  border: 1px solid #269ecb;
  top: 0;
}

.stepper .down {
  border-bottom-right-radius: 3px;
  bottom: 0;
}

.stepper .up::before,
.stepper .down::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.stepper .up::before {
  top: 5px;
  left: 5px;
  border-bottom: 4px solid #FFF;
}

.stepper .down:before {
  bottom: 5px;
  left: 6px;
  border-top: 4px solid #FFF;
}

.stepper.disabled .stepper-arrow {
  background-color: #3BAFDA;
  opacity: 0.45;
  filter: alpha(opacity=45);
}

.selecter {
  display: block;
  position: relative;
  max-width: 100%;
  z-index: 1;
  outline: none;
  /* Open */
  /* 'Cover' Positioning */
  /* 'Bottom' Positioning */
  /* 'Bottom' + 'Cover' Positioning */
  /* Multiple Select */
  /* 'Disabled' State */
  /* Scroller Support */
}

.selecter .selecter-element {
  display: none;
  *left: -999999px;
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  z-index: 0;
}

.selecter .selecter-element,
.selecter .selecter-element:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.selecter .selecter-selected {
  background-color: #FFF;
  border: 1px solid #AAB2BD;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 6px 10px;
  position: relative;
  text-overflow: clip;
  z-index: 2;
}

.selecter .selecter-selected:after {
  position: absolute;
  top: 14px;
  right: 10px;
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid #000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.selecter .selecter-options {
  border: 1px solid #AAB2BD;
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-color: #FFF;
  display: none;
  left: 0;
  max-height: 260px;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  width: 100%;
  *width: auto;
  z-index: 50;
}

.selecter .selecter-group {
  border-bottom: 1px solid #E6E9ED;
  color: #AAB2BD;
  background-color: #F5F7FA;
  display: block;
  font-size: 11px;
  padding: 5px 10px 4px;
  text-transform: uppercase;
}

.selecter .selecter-item {
  background-color: #FFF;
  border-bottom: 1px solid #E6E9ED;
  cursor: pointer;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 6px 10px;
  text-overflow: ellipsis;
  width: 100%;
}

.selecter .selecter-item.selected {
  color: #FFF;
  border-bottom-color: #4FC1E9;
  background-color: #3BAFDA;
}

.selecter .selecter-item.disabled {
  color: #AAB2BD;
  cursor: default;
}

.selecter .selecter-item:first-child {
  border-radius: 0;
}

.selecter .selecter-item:last-child {
  border-radius: 0 0 4px 4px;
  border-bottom: 0;
}

.selecter .selecter-item:hover {
  background-color: #E6E9ED;
}

.selecter .selecter-item.selected:hover {
  background-color: #3BAFDA;
}

.selecter .selecter-item.disabled:hover,
.selecter:hover .selecter-selected,
.selecter.disabled .selecter-item:hover {
  background-color: #FFF;
}

.selecter.open {
  outline: 0;
  z-index: 3;
}

.selecter.open .selecter-selected {
  border: 1px solid #3BAFDA;
  border-radius: 4px 4px 0 0;
  z-index: 51;
}

.selecter.open .selecter-selected,
.selecter.focus .selecter-selected {
  background-color: #FFF;
}

.selecter.cover .selecter-options {
  border-radius: 4px;
  border-width: 1px;
  top: 0;
}

.selecter.cover .selecter-options .selecter-item.first {
  border-radius: 4px 4px 0 0;
}

.selecter.cover.open .selecter-selected {
  border-radius: 4px 4px 0 0;
  z-index: 49;
}

.selecter.bottom .selecter-options {
  border-width: 1px 1px 0;
  bottom: 100%;
  top: auto;
}

.selecter.bottom .selecter-item:last-child {
  border-radius: 0;
  border: none;
}

.selecter.bottom.open .selecter-selected {
  border-radius: 0 0 4px 4px;
}

.selecter.bottom.open .selecter-options {
  border-radius: 4px 4px 0 0;
}

.selecter.bottom.cover .selecter-options {
  bottom: 0;
  top: auto;
}

.selecter.bottom.cover.open .selecter-selected,
.selecter.bottom.cover.open .selecter-options {
  border-radius: 4px;
}

.selecter.multiple .selecter-options {
  border-radius: 4px;
  border-width: 1px;
  box-shadow: none;
  display: block;
  position: static;
  width: 100%;
}

.selecter.disabled .selecter-selected {
  background-color: #E6E9ED;
  border-color: #E6E9ED;
  color: #AAB2BD;
  cursor: default;
}

.selecter.disabled .selecter-options {
  background-color: #E6E9ED;
  border-color: #E6E9ED;
}

.selecter.disabled .selecter-group,
.selecter.disabled .selecter-item {
  background-color: #E6E9ED;
  border-color: #E6E9ED;
  color: #AAB2BD;
  cursor: default;
}

.selecter.disabled .selecter-item.selected {
  background-color: #3BAFDA;
  opacity: 0.45;
  filter: alpha(opacity=45);
  color: #FFF;
}

.selecter .selecter-options.scroller {
  overflow: hidden;
}

.selecter .selecter-options.scroller .scroller-content {
  max-height: 260px;
  padding: 0;
}

/**
   * checkbox and radio
   * --------------------------------------------------
   */

.checkbox,
.radio {
  margin-top: 0;
  padding-left: 0;
}

.checkbox label,
.radio label {
  position: relative;
  top: 2px;
  padding-left: 5px;
}

.icheckbox_flat,
.iradio_flat {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0 !important;
  width: 20px;
  height: 20px;
  background: url("../bootflat/img/check_flat/default.png") no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_flat {
  background-position: 0 0;
}

.icheckbox_flat.checked {
  background-position: -22px 0;
}

.icheckbox_flat.disabled {
  background-position: -44px 0;
  cursor: default;
}

.icheckbox_flat.checked.disabled {
  background-position: -66px 0;
}

.iradio_flat {
  background-position: -88px 0;
}

.iradio_flat.checked {
  background-position: -110px 0;
}

.iradio_flat.disabled {
  background-position: -132px 0;
  cursor: default;
}

.iradio_flat.checked.disabled {
  background-position: -154px 0;
}

/**
   * toggle
   * --------------------------------------------------
   */

.toggle {
  height: 32px;
}

.toggle input[type="checkbox"],
.toggle input[type="radio"] {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  text-indent: -100000px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.toggle .handle {
  display: block;
  position: relative;
  top: -20px;
  left: 0;
  width: 50px;
  height: 32px;
  background-color: #FFF;
  border-radius: 19px;
  box-shadow: inset 0 0 0 1px #b8bfc8;
}

.toggle .handle:before,
.toggle .handle:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
  background-color: #FFF;
  box-shadow: inset 0 0 0 1px #b8bfc8, 1px 1px 1px #c7ccd3;
}

.toggle input[type="checkbox"]:disabled + .handle,
.toggle input[type="radio"]:disabled + .handle,
.toggle input[type="checkbox"]:disabled + .handle:before,
.toggle input[type="radio"]:disabled + .handle:before,
.toggle input[type="checkbox"]:disabled + .handle:after,
.toggle input[type="radio"]:disabled + .handle:after {
  opacity: 0.6;
  filter: alpha(opacity=60);
  background-color: #E6E9ED;
}

.toggle input[type="checkbox"]:checked + .handle:before,
.toggle input[type="radio"]:checked + .handle:before {
  width: 50px;
  background-color: #A0D468;
}

.toggle input[type="checkbox"]:checked + .handle:after,
.toggle input[type="radio"]:checked + .handle:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px #F5F7FA, 1px 1px 1px #c7ccd3;
}

/**
   * calendar
   * --------------------------------------------------
   */

.calendar {
  padding: 20px;
  border-radius: 4px;
  color: #FFF;
  background-color: #fd9883;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.calendar .unit {
  float: left;
  width: 14.28%;
  text-align: center;
}

.calendar .years .prev {
  text-align: left;
}

.calendar .years .next {
  text-align: right;
}

.calendar .years .prev em,
.calendar .years .next em {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #FFF;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.calendar .years .prev em:before,
.calendar .years .next em:before {
  position: absolute;
  display: block;
  content: "";
  margin-top: 6px;
  border-style: solid;
  border-width: 7px;
  width: 0;
  height: 0;
  font-size: 0;
}

.calendar .years .prev em:before {
  top: 3px;
  left: 4px;
  border-color: transparent #FFF transparent transparent;
}

.calendar .years .next em:before {
  top: 3px;
  left: 13px;
  border-color: transparent transparent transparent #FFF;
}

.calendar .years .prev em:hover,
.calendar .years .next em:hover,
.calendar .years .prev em:active,
.calendar .years .next em:active {
  border-color: #E9573F;
}

.calendar .years .prev em:hover:before,
.calendar .years .prev em:active:before {
  border-color: transparent #E9573F transparent transparent;
}

.calendar .years .next em:hover:before,
.calendar .years .next em:active:before {
  border-color: transparent transparent transparent #E9573F;
}

.calendar .years .monyear {
  float: left;
  width: 71.42%;
  text-align: center;
  height: 34px;
  line-height: 34px;
}

.calendar .days {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #ee7f6d;
}

.calendar .days .unit {
  margin-bottom: 3px;
  text-align: center;
  height: 34px;
  line-height: 34px;
}

.calendar .days .unit b {
  border-radius: 50%;
  font-weight: normal;
  width: 34px;
  height: 34px;
}

.calendar .days .unit:hover b,
.calendar .days .unit:active b,
.calendar .days .unit.active b {
  display: inline-block;
  background-color: #FFF;
  color: #E9573F;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.calendar .days .unit.older b {
  color: #E9573F;
  background-color: transparent;
  cursor: default;
  width: auto;
  height: auto;
}

/**
   * pricing
   * --------------------------------------------------
   */

.pricing ul {
  list-style: none;
  padding: 0;
}

.pricing .unit {
  position: relative;
  display: inline-block;
  text-align: center;
  min-width: 250px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.pricing .unit.active {
  top: 5px;
  margin-left: -36px;
  margin-right: -36px;
  z-index: 1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.pricing .unit.active .price-title h3 {
  font-size: 40px;
}

@media screen and (max-width: 767px) {
  .pricing .unit {
    display: block;
    margin-bottom: 20px;
  }

  .pricing .unit.active {
    top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .pricing .unit.active .price-title h3 {
    font-size: 30px;
  }
}

.pricing .price-title {
  padding: 20px 20px 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #FFF;
}

.pricing .price-title h3,
.pricing .price-title h3 > p {
  margin: 0;
}

.pricing .price-body {
  padding: 20px 20px 10px;
}

.pricing .price-body ul {
  padding-top: 10px;
}

.pricing .price-body li {
  margin-bottom: 10px;
}

.pricing .price-body h4 {
  margin: 0;
}

.pricing .price-foot {
  padding: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #E6E9ED;
}

.pricing .price-primary .price-title {
  background-color: #4FC1E9;
}

.pricing .price-primary .price-body {
  background-color: #d7f1fa;
}

.pricing .price-primary .price-body ul {
  border-top: 1px solid #aae1f4;
}

.pricing .price-success .price-title {
  background-color: #A0D468;
}

.pricing .price-success .price-body {
  background-color: #ebf6df;
}

.pricing .price-success .price-body ul {
  border-top: 1px solid #d2ebb7;
}

.pricing .price-warning .price-title {
  background-color: #FFCE54;
}

.pricing .price-warning .price-body {
  background-color: #fffaed;
}

.pricing .price-warning .price-body ul {
  border-top: 1px solid #ffebba;
}

/**
   * alert
   * --------------------------------------------------
   */

.alert h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.alert-dismissable .close {
  color: #000;
}

.alert-info {
  background-color: #7cd1ef;
  border: #4FC1E9;
}

.alert-warning {
  background-color: #ffdd87;
  border: #FFCE54;
}

.alert-danger {
  background-color: #f2838f;
  border: #ED5565;
}

.alert-success {
  background-color: #b9df90;
  border: #A0D468;
}

.alert .alert-link {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.alert .alert-link:hover,
.alert .alert-link:focus {
  opacity: 0.45;
  filter: alpha(opacity=45);
}

.alert .btn-link,
.alert .btn-link:hover,
.alert .btn-link:focus {
  color: #000;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.alert .btn-link:focus,
.alert .btn-link:hover {
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/**
   * tab
   * --------------------------------------------------
   */

.nav-tabs {
  border-bottom: none;
  background-color: #E6E9ED;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li {
  margin-bottom: 0;
  border-left: 1px solid #CCD1D9;
}

.nav-tabs > li:first-child {
  border-left: none;
}

.nav-tabs > li > a {
  margin-right: 0;
  border: none;
  border-radius: 0;
  color: #434A54;
}

.nav-tabs > li:first-child > a {
  border-radius: 4px 0 0 0;
}

.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
  border: none;
  background-color: #F5F7FA;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: none;
  background-color: #FFF !important;
}

.nav-tabs .dropdown-toggle,
.nav-tabs .dropdown-toggle:hover,
.nav-tabs .dropdown-toggle:focus {
  color: #434A54;
}

.nav-tabs li.dropdown.open .dropdown-toggle {
  color: #434A54;
  background-color: #F5F7FA;
}

.nav-tabs li.dropdown.active.open .dropdown-toggle {
  color: #434A54;
}

.nav-tabs li.dropdown.active.open .dropdown-toggle .caret,
.nav-tabs li.dropdown.active .dropdown-toggle .caret {
  border-top-color: #434A54;
  border-bottom-color: #434A54;
}

.nav-tabs li.dropdown.open .caret,
.nav-tabs li.dropdown.open.active .caret,
.nav-tabs li.dropdown.open a:hover .caret,
.nav-tabs li.dropdown.open a:focus .caret,
.nav-tabs .dropdown-toggle .caret,
.nav-tabs .dropdown-toggle:hover .caret,
.nav-tabs .dropdown-toggle:focus .caret {
  border-top-color: #434A54;
  border-bottom-color: #434A54;
}

.nav-tabs.nav-justified > li > a {
  margin-bottom: 0;
  text-align: center;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

.nav-tabs.nav-justified > li > a {
  border-radius: 0;
}

.nav-tabs.nav-justified > li:first-child > a {
  border-radius: 4px 0 0 0;
}

.nav-tabs.nav-justified > li:last-child > a {
  border-radius: 0 4px 0 0;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: none;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: none;
    border-radius: 0;
  }

  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom: none;
  }
}

.tab-content {
  padding: 10px;
}

.tabs-below .nav-tabs {
  border-radius: 0 0 4px 4px;
}

.tabs-below .nav-tabs > li:first-child > a {
  border-radius: 0 0 0 4px;
}

.tabs-below .nav-tabs.nav-justified > li:last-child > a {
  border-radius: 0 0 4px 0;
}

.tabs-left .nav-tabs > li,
.tabs-right .nav-tabs > li {
  float: none;
  border-left: none;
  border-top: 1px solid #CCD1D9;
}

.tabs-left .nav-tabs > li:first-child,
.tabs-right .nav-tabs > li:first-child {
  border-top: none;
}

.tabs-left .nav-tabs > li > a,
.tabs-right .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
}

.tabs-left .nav-tabs {
  float: left;
  margin-right: 19px;
  border-radius: 4px 0 0 4px;
}

.tabs-left .nav-tabs > li:first-child > a {
  border-radius: 4px 0 0 0;
}

.tabs-left .nav-tabs > li:last-child > a {
  border-radius: 0 0 0 4px;
}

.tabs-right .nav-tabs {
  float: right;
  margin-left: 19px;
  border-radius: 0 4px 4px 0;
}

.tabs-right .nav-tabs > li:first-child > a {
  border-radius: 0 4px 0 0;
}

.tabs-right .nav-tabs > li:last-child > a {
  border-radius: 0 0 4px 0;
}

/**
   * pill
   * --------------------------------------------------
   */

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #FFF;
  background-color: #3BAFDA;
}

.nav-pills > li > a {
  color: #3BAFDA;
}

.nav-pills > li > a:hover {
  color: #434A54;
  background-color: #E6E9ED;
}

.nav-pills > .active > a > .badge {
  color: #3BAFDA;
}

.nav-pills .open > a,
.nav-pills .open > a:focus,
.nav-pills .open > a:hover {
  color: #434A54;
  background-color: #E6E9ED;
}

/**
   * navbar
   * --------------------------------------------------
   */

.navbar-form {
  padding: 0 !important;
}

.navbar-default {
  background-color: #37BC9B;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-link,
.navbar-default .btn-link {
  color: #26816a;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-link:hover,
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #FFF;
  background-color: transparent;
}

.navbar-default .navbar-text,
.navbar-default .navbar-nav > li > a {
  color: #26816a;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #48CFAD;
}

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus,
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #2e9c81;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #26816a;
  background-color: #26816a;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border-color: #2b957a;
  background-color: #2b957a;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #37BC9B;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #48CFAD;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #FFF;
  background-color: #37BC9B;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    background-color: #48CFAD;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .divider {
    background-color: #48CFAD;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #26816a;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: #48CFAD;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .dropdown-header {
    color: #26816a;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #2b957a;
  }
}

.navbar-inverse {
  background-color: #333333;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-link,
.navbar-inverse .btn-link {
  color: #8c8c8c;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-link:hover,
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #FFF;
  background-color: transparent;
}

.navbar-inverse .navbar-text,
.navbar-inverse .navbar-nav > li > a {
  color: #8c8c8c;
  transition: background .25s ease-in-out;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #FFF;
  background: #262626;
  border-bottom: 3px solid #F4D03F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #000;
}

.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus,
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #666666;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  background-color: #000;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #1a1a1a;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #8c8c8c;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #FFF;
  background-color: #000;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #000;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .divider {
    background-color: #000;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #8c8c8c;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: #000;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    color: #bfbfbf;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #666666;
  }
}

/**
   * list
   * --------------------------------------------------
   */

.list-group {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.list-group-item {
  border-color: transparent;
  border-top-color: #E6E9ED;
}

.list-group-item:first-child {
  border-top: none;
}

.list-group-item-heading {
  color: #434A54;
}

a.list-group-item {
  color: #434A54;
}

a.list-group-item .list-group-item-heading {
  font-size: 16px;
  color: #434A54;
}

a.list-group-item:hover,
a.list-group-item:focus {
  background-color: #E6E9ED;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #4FC1E9;
  border-color: #4FC1E9;
}

a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #FFF;
}

.list-group-item-primary {
  color: #22b1e3;
  border-color: #3BAFDA transparent transparent transparent;
  background-color: #4FC1E9;
}

.list-group-item-primary:first-child {
  border-color: transparent;
}

a.list-group-item-primary {
  color: #126d8d;
}

a.list-group-item-primary:hover,
a.list-group-item-primary:focus {
  color: #FFF;
  background-color: #3BAFDA;
}

a.list-group-item-primary.active,
a.list-group-item-primary:hover,
a.list-group-item-primary:focus {
  background-color: #3BAFDA;
  border-color: #4FC1E9 transparent transparent transparent;
}

.list-group-item-success {
  color: #87c940;
  border-color: #8CC152 transparent transparent transparent;
  background-color: #A0D468;
}

.list-group-item-success:first-child {
  border-color: transparent;
}

a.list-group-item-success {
  color: #537f24;
}

a.list-group-item-success:hover,
a.list-group-item-success:focus {
  color: #FFF;
  background-color: #8CC152;
}

a.list-group-item-success.active,
a.list-group-item-success:hover,
a.list-group-item-success:focus {
  background-color: #8CC152;
  border-color: #A0D468 transparent transparent transparent;
}

.list-group-item-warning {
  color: #ffbf21;
  border-color: #F6BB42 transparent transparent transparent;
  background-color: #FFCE54;
}

.list-group-item-warning:first-child {
  border-color: transparent;
}

a.list-group-item-warning {
  color: #876000;
}

a.list-group-item-warning:hover,
a.list-group-item-warning:focus {
  color: #FFF;
  background-color: #F6BB42;
}

a.list-group-item-warning.active,
a.list-group-item-warning:hover,
a.list-group-item-warning:focus {
  background-color: #F6BB42;
  border-color: #FFCE54 transparent transparent transparent;
}

.list-group-item-info {
  color: #2fb593;
  border-color: #37BC9B transparent transparent transparent;
  background-color: #48CFAD;
}

.list-group-item-info:first-child {
  border-color: transparent;
}

a.list-group-item-info {
  color: #1a6451;
}

a.list-group-item-info:hover,
a.list-group-item-info:focus {
  color: #FFF;
  background-color: #37BC9B;
}

a.list-group-item-info.active,
a.list-group-item-info:hover,
a.list-group-item-info:focus {
  background-color: #37BC9B;
  border-color: #48CFAD transparent transparent transparent;
}

.list-group-item-danger {
  color: #e8273b;
  border-color: #DA4453 transparent transparent transparent;
  background-color: #ED5565;
}

.list-group-item-danger:first-child {
  border-color: transparent;
}

a.list-group-item-danger {
  color: #99101f;
}

a.list-group-item-danger:hover,
a.list-group-item-danger:focus {
  color: #FFF;
  background-color: #DA4453;
}

a.list-group-item-danger.active,
a.list-group-item-danger:hover,
a.list-group-item-danger:focus {
  background-color: #DA4453;
  border-color: #ED5565 transparent transparent transparent;
}

/**
   * media list
   * --------------------------------------------------
   */

.media-list {
  color: #AAB2BD;
}

.media-heading {
  font-size: 14px;
  color: #434A54;
}

/**
   * modal
   * --------------------------------------------------
   */

.modal-content {
  border: none;
  border-radius: 4px;
  color: #434A54;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding: 0 15px;
}

.modal-footer {
  border-top: none;
}

/**
   * well
   * --------------------------------------------------
   */

.well {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #434A54;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.well blockquote {
  border-color: #CCD1D9;
}

.well-lg {
  padding: 20px;
}

.well-sm {
  padding: 5px;
}

/**
   * thumbnail
   * --------------------------------------------------
   */

.thumbnail {
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.thumbnail a > img,
.thumbnail > img {
  width: 100%;
}

.thumbnail .caption {
  font-size: 14px;
}

.thumbnail .caption h1,
.thumbnail .caption h2,
.thumbnail .caption h3,
.thumbnail .caption h4,
.thumbnail .caption h5,
.thumbnail .caption h6 {
  margin: 5px 0 10px;
  font-size: 16px;
}

/**
   * jumbotron
   * --------------------------------------------------
   */

.jumbotron {
  margin-bottom: 20px;
  padding: 0;
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.container .jumbotron {
  border-radius: 4px;
}

.jumbotron > .jumbotron-photo img {
  border-radius: 4px 4px 0 0;
  width: 100%;
}

.jumbotron .jumbotron-contents {
  padding: 20px;
  color: #434A54;
}

.jumbotron .carousel,
.jumbotron .carousel-inner,
.jumbotron .carousel-inner > .item.active img {
  border-radius: 4px 4px 0 0;
}

.jumbotron .carousel-inner > .item > a > img,
.jumbotron .carousel-inner > .item > img {
  width: 100%;
}

.jumbotron .carousel-control.left {
  border-radius: 4px 0 0 0;
}

.jumbotron .carousel-control.right {
  border-radius: 0 4px 0 0;
}

.jumbotron h1,
.jumbotron .h1,
.jumbotron h2,
.jumbotron .h2 {
  font-weight: 400;
}

.jumbotron h1,
.jumbotron .h1 {
  font-size: 28px;
}

.jumbotron h2,
.jumbotron .h2 {
  font-size: 24px;
}

.jumbotron p {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .jumbotron,
  .container .jumbotron {
    padding: 0;
  }

  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 28px;
  }
}

/**
   * panel
   * --------------------------------------------------
   */

.panel {
  background-color: #FFF;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.panel .list-group {
  box-shadow: none;
}

.panel .list-group-item:first-child {
  border-top: 1px solid #E6E9ED;
}

.panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-title {
  font-size: 14px;
  color: #434A54;
  font-weight: normal;
}

.panel-footer {
  background-color: #E6E9ED;
  border-top-color: #E6E9ED;
  border-radius: 0 0 4px 4px;
}

.panel-default {
  border-color: #E6E9ED;
}

.panel-default > .panel-heading {
  color: #434A54;
  background-color: #E6E9ED;
  border-color: #E6E9ED;
}

.panel-primary {
  border-color: #3BAFDA;
}

.panel-primary > .panel-heading {
  color: #FFF;
  background-color: #3BAFDA;
  border-color: #3BAFDA;
}

.panel-success {
  border-color: #8CC152;
}

.panel-success > .panel-heading {
  color: #FFF;
  background-color: #8CC152;
  border-color: #8CC152;
}

.panel-info {
  border-color: #37BC9B;
}

.panel-info > .panel-heading {
  color: #FFF;
  background-color: #37BC9B;
  border-color: #37BC9B;
}

.panel-warning {
  border-color: #F6BB42;
}

.panel-warning > .panel-heading {
  color: #FFF;
  background-color: #F6BB42;
  border-color: #F6BB42;
}

.panel-danger {
  border-color: #DA4453;
}

.panel-danger > .panel-heading {
  color: #FFF;
  background-color: #DA4453;
  border-color: #DA4453;
}

.panel-primary > .panel-heading > .panel-title,
.panel-success > .panel-heading > .panel-title,
.panel-info > .panel-heading > .panel-title,
.panel-warning > .panel-heading > .panel-title,
.panel-danger > .panel-heading > .panel-title {
  color: #FFF;
}

.panel > .list-group:first-child .list-group-item:first-child,
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-radius: 4px 4px 0 0;
}

.panel > .list-group:last-child .list-group-item:last-child {
  border-radius: 0 0 4px 4px;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-radius: 4px 0 0 0;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-radius: 0 4px 0 0;
}

.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-radius: 0 0 4px 4px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-radius: 0 0 0 4px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-radius: 0 0 4px 0;
}

.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
  border-top-color: #E6E9ED;
}

/**
   * accordion
   * --------------------------------------------------
   */

.panel-group .panel {
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-group .panel-heading {
  padding: 0;
  border-bottom-color: transparent;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  padding: 15px 0;
  border-top-color: transparent;
}

.panel-group .panel-title a {
  padding: 10px 0;
  display: block;
}

.panel-group-lists .panel {
  border-bottom: 1px solid #E6E9ED;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.panel-group-lists .panel:first-child {
  border-radius: 4px 4px 0 0;
}

.panel-group-lists .panel:last-child {
  border-radius: 0 0 4px 4px;
  border-bottom: none;
}

.panel-group-lists .panel-heading + .panel-collapse .panel-body {
  padding: 15px;
  border-top-color: #E6E9ED;
}

.panel-group-lists .panel-title a {
  padding: 10px 15px;
  color: #434A54;
}

.panel-group-lists .panel-title a:hover,
.panel-group-lists .panel-title a:focus,
.panel-group-lists .panel-title a:active {
  color: #AAB2BD;
}

/**
   * footer
   * --------------------------------------------------
   */

.footer {
  padding: 40px 0;
  background-color: #333333;
}

.footer-logo,
.footer-nav {
  float: left;
  padding: 0 20px;
  width: 20%;
}

@media (max-width: 768px) {
  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-logo,
  .footer-nav {
    float: none;
    display: block;
    width: 100%;
  }
}

.footer-logo {
  margin-top: -5px;
  height: 32px;
  line-height: 32px;
}

.footer-logo img {
  margin-right: 10px;
}

.footer-logo a {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
}

.footer-logo a:hover,
.footer-logo a:active {
  text-decoration: none;
}

.footer-nav .nav-title {
  margin-bottom: 15px;
  color: #F4D03F;
}

.footer-nav .nav-item {
  line-height: 28px;
}

.footer-nav .nav-item > a {
  color: #AAB2BD;
}

.footer-nav .nav-item > a:hover,
.footer-nav .nav-item > a:active {
  color: #CCD1D9;
  text-decoration: none;
}

.footer-copyright {
  color: #AAB2BD;
}

/**
   * timeline
   * --------------------------------------------------
   */

.timeline dl {
  position: relative;
  top: 0;
  margin: 0;
  padding: 20px 0;
}

.timeline dl:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  content: '';
  background-color: #CCD1D9;
  z-index: 100;
}

.timeline dl dt {
  position: relative;
  top: 30px;
  padding: 3px 5px;
  margin: 0 auto 30px;
  text-align: center;
  border-radius: 4px;
  background-color: #AAB2BD;
  font-weight: normal;
  color: #FFF;
  width: 120px;
  z-index: 200;
}

.timeline dl dd {
  position: relative;
  z-index: 200;
}

.timeline dl dd .circ {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -11px;
  border: 4px solid #F5F7FA;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #4FC1E9;
  z-index: 200;
}

.timeline dl dd .time {
  position: absolute;
  top: 31px;
  left: 50%;
  padding: 10px 20px;
  width: 100px;
  display: inline-block;
  color: #4FC1E9;
}

.timeline dl dd .events {
  position: relative;
  margin-top: 31px;
  padding: 10px 10px 0;
  border-radius: 4px;
  background-color: #FFF;
  width: 47%;
}

.timeline dl dd .events:before {
  position: absolute;
  top: 12px;
  width: 0;
  height: 0;
  content: '';
  border-width: 6px;
  border-style: solid;
}

.timeline dl dd .events .events-object {
  margin-right: 10px;
}

.timeline dl dd .events .events-body {
  overflow: hidden;
  zoom: 1;
}

.timeline dl dd .events .events-body .events-heading {
  margin: 0 0 10px;
  font-size: 14px;
}

.timeline dl dd.pos-right .time {
  margin-left: -100px;
  text-align: right;
}

.timeline dl dd.pos-right .events {
  float: right;
}

.timeline dl dd.pos-right .events:before {
  left: -12px;
  border-color: transparent #FFF transparent transparent;
}

.timeline dl dd.pos-left .time {
  margin-left: 0;
  text-align: left;
}

.timeline dl dd.pos-left .events {
  float: left;
}

.timeline dl dd.pos-left .events:before {
  right: -12px;
  border-color: transparent transparent transparent #FFF;
}

@media screen and (max-width: 767px) {
  .timeline dl:before {
    left: 60px;
  }

  .timeline dl dt {
    margin: 0 0 30px;
  }

  .timeline dl dd .circ {
    left: 60px;
  }

  .timeline dl dd .time {
    left: 0;
  }

  .timeline dl dd.pos-left .time {
    margin-left: 0;
    padding: 10px 0;
    text-align: left;
  }

  .timeline dl dd.pos-left .events {
    float: right;
    width: 84%;
  }

  .timeline dl dd.pos-left .events:before {
    left: -12px;
    border-color: transparent #FFF transparent transparent;
  }

  .timeline dl dd.pos-right .time {
    margin-left: 0;
    padding: 10px 0;
    text-align: left;
  }

  .timeline dl dd.pos-right .events {
    float: right;
    width: 84%;
  }
}

/**
   * dropdown-menu
   * --------------------------------------------------
   */

.dropdown-menu {
  border: none;
  background-color: #333333;
}

.dropdown-menu .dropdown-header {
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 300;
  color: #AAB2BD;
}

.dropdown-menu li a {
  padding: 5px 20px;
  color: #99a0aa;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu .active a,
.dropdown-menu .active a:hover,
.dropdown-menu .active a:focus {
  color: #F4D03F;
  background-color: transparent;
  outline: none;
}

.dropdown-menu .disabled a,
.dropdown-menu .disabled a:hover,
.dropdown-menu .disabled a:focus {
  color: #656D78;
  cursor: default;
}

.dropdown-menu .divider {
  background-color: #656D78;
  border-bottom: none;
}

.dropup .dropdown-menu {
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
}

/**
   * dropdown-submenu
   * --------------------------------------------------
   */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 4px 4px 4px;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropup .dropdown-submenu .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  border-radius: 4px 4px 4px 0;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #FFF;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-default .dropdown-submenu > a:after {
  border-left-color: #434A54;
}

.dropdown-submenu:hover a:after {
  border-left-color: #FFF;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 4px 0 4px 4px;
}

body {
  background-color: #f8f8f8;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .sidebar-search {
  padding: 15px;
}

.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
  background-color: #eeeeee;
}

.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}

.sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidebar .nav-third-level li a {
  padding-left: 52px;
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

.login-panel {
  margin-top: 25%;
}

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}

.show-grid {
  margin: 15px 0;
}

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}

.panel-green a {
  color: #5cb85c;
}

.panel-green a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}

.panel-red a {
  color: #d9534f;
}

.panel-red a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}

.panel-yellow a {
  color: #f0ad4e;
}

.panel-yellow a:hover {
  color: #df8a13;
}

.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}

.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: #eeeeee;
}

.timeline > li {
  position: relative;
  margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 46%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ccc;
}

.timeline > li > .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  color: #fff;
  background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }

  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}